.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*background: white;*/
    /*varijabla za moj darkmode*/
    background-color: var(--header-background-color);
}

.header .div1 {
    /*boja gde nam se nalazi nas logo*/
    /*bila pre boja dok nisam dodala darmode*/
    /*background-color: #D9D9D9;*/
    background-color: var(--header-div1-background-color);
    justify-content: space-between;
    /*da mi centrira sve element na sredinu headera*/
    align-items: center;
    /*da nam rasiri na celu stranicu*/
    display: flex;
    height: 75px;
    /*ako stavim 1440px onda se ekran mora pomerti*/
    width: 100%;
    /*da na nam se ne bi lepili uz ivice ekrana*/
    padding: 0 5%;

}

.header .logo {
    height: 44.08px;
    width: 218.86px;
    top: 17px;
    left: 105px;
}

.header .div1 .jezici ul li {
    /*da  ne bude jedno ispod drugog vec lepo da bude jedan pored drugog*/
    display: inline-block;
    margin-left: 20px;
}

.header .div1 .jezici ul li a {
    /*text-decoration: none;*/
    font-family: 'Roboto';
    /*bila boja dok nije dosao dark mode*/
    /*color: #595959;*/
    color: var(--header-div1-jezici-ul-li-a-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.header .div1 .jezici ul li .active {
    text-decoration: none;
    color: #888787;
    font-weight: 400;
    /* width: 47px
    height: 18px
    top: 31px
    left: 1288.64px*/
}


/*meni*/

.header .navbar {
    display: contents;
    /*njihovo mi smeta kada stavim nece lepo na sredinu*/
    /*width: 1100px;
    height: 64px;
    top: 75px;
    left: 122px;*/
    /*da mi lepo ispise sve u redovima kako teba a ne da sece redove*/
    white-space: nowrap;
    width: 100%;
}

.header .navbar ul {

    display: flex;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    /*align-items: center;*/
}


.header .navbar ul li {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    list-style-type: none;
    text-align: center;
    border: 0.5px solid #88878766;
    /*padding: 0.8rem;*/
    height: 62px;
    color: var(--header-navbar-ul-li-color);
}

/*za font od menija za velika slova */
.header .navbar ul li h4 {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

/*za font od menija  za mala slova ispod velikih*/
.header .navbar ul li p {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
}

/*za brend za je dr boje jer je kliknuto an to*/
.header .navbar ul .brend {
    /*color: #888787;*/
    color: var(--header-navbar-ul-brend-color);
}

/*lijija ispod menija*/

.header .levoLinija {
    width: 1348px;
    top: 137px;
    left: 646px;
    border: 1px;
    /*angle: -0 deg;*/
}

/*da mi se ne prikazuju ikone od burger menija*/
header .div1 .burger,
.close-icon {
    display: none;
}

@media only screen and (max-width:900px){
    .header .div1 {

        justify-content: flex-start;
        /*da nam rasiri na celu stranicu*/
        display: flex;
        /*da na nam se ne bi lepili uz ivice ekrana*/
        padding: 0 10%;
    }

    .header .navbar .nav-links {
        display: none;
    }

    .switch{
        margin-left: auto;
     }

    .header .div1 .burger {
        margin-left: 15px;
        display: block;
    }

    .header .div1 .close-icon {
        margin-left: 30px;
        display: none;
    }

    .header .div1 .jezici {
        display: none;
    }

    .header .div1 .jezici.show {
        display: flex;
        flex-direction: column;
    }

    .header .navbar .nav-links.show {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0px;
        /*background-color: #ffffff;*/
        align-items: center;
    }

    .header .navbar .nav-links li {
        display: flex;
    }

    .header .navbar .nav-links li h3 {
        display: block;
        font-size: 10px;
    }

    .header .navbar .nav-links li p {
        display: block;
    }
}


@media only screen and (max-width: 600px) {

    .logo img {
        width: 70%;
    }

    .header .div1 .jezici ul li a {
        font-size: 10px;
    }
    
}

@media only screen and (max-width:900px) {
    .header .div1 {

        justify-content: flex-start;
        /*da nam rasiri na celu stranicu*/
        display: flex;
        /*da na nam se ne bi lepili uz ivice ekrana*/
        padding: 0 10%;
    }

    .header .navbar .nav-links {
        display: none;
    }

    .switch{
        margin-left: auto;
     }

    .header .div1 .burger {
        margin-left: 15px;
        display: block;
    }

    .header .div1 .close-icon {
        margin-left: 30px;
        display: none;
    }

    .header .div1 .jezici {
        display: none;
    }

    .header .div1 .jezici.show {
        display: flex;
        flex-direction: column;
    }

    .header .navbar .nav-links.show {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0px;
        /*background-color: #ffffff;*/
        align-items: center;
    }

    .header .navbar .nav-links li {
        display: flex;
    }

    .header .navbar .nav-links li h3 {
        display: block;
        font-size: 10px;
    }

    .header .navbar .nav-links li p {
        display: block;
    }
}