.triSlike {
    margin-top: 55px;
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    gap: 25px;
    display: flex;
    /*da prebaci elemente  sl red ako ne staju u red*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*background-color: white;*/
    background-color: var(--triSlike-background-color);
    padding-bottom: 130px;
}

.triSlike .slika {

    /*If you want an image to scale down if it has to, 
    but never scale up to be larger than its original size,*/
    max-width: 100%;
    /*width: auto;*/
    height: auto;
    background: white;
    margin-top: 65px;
    position: relative;
}

.triSlike p {
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--triSlike-p-color);
}

.triSlike p::after {

    content: '';
    display: block;

    width: 50px;
    height: 2px;
    top: 2401px;
    left: 104px;
    margin-top: 10px;
    background-color: #BF0F0F;
}