.tekstIProizvodi {
    /*background: #F4F4F4;*/
    background-color: var(--tekstIProizvodi-background-color);
    color: var(--tekstIProizvodi-color);
    display: flex;

    align-items: center;
    flex-direction: column;
    /*margin-top: 70px;*/
    padding: 40px;
    /*ovde sam stavila onaj logo sa leve strane kod slika proizvoda*/

    background-image: url('../../images/logoKodProizvoda.png');
    background-size: auto;
    /* Očuvaće prirodnu veličinu slike */
    background-position: left bottom;
    /* Postavlja poziciju slike u levom donjem uglu */
    /*background-position: left calc(100%  - 120px); /* Pomeranje slike 10 piksela od dna */
    background-repeat: no-repeat;
    
    
}

/*.logoKodProizvoda {
    margin-right: auto;
    margin-bottom: auto;
    background-size: auto;
    background-position: left bottom;
    margin-top: auto;
    width: 100%;
}*/

.tekstIProizvodi .textNasiProizvodi {
    text-align: center;
    margin-top: 70px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 40px;
    color: var(--textNasiProizvodi-color);
    
}

.tekstIProizvodi .textOkvalitetu::before {
    content: '';
    display: block;
    background: #C4C4C466;
    width: 100%;
    height: 3px;
    margin-bottom: 50px;
}



.tekstIProizvodi .textOkvalitetu {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    /*ovde sam rekla da tekst moze smao na toliko da se rasiri */
    /*width: 524px;*/
    max-width: 500px;
    height: 67px;
    margin-bottom: 45px;
    color: var(--textOkvalitetu-color);
}

/*SLIDER ZA SLIKE PROIZVODA*/

.container {
    /*velicina slajda*/
    max-width: 1000px;
    /*da koliko ce se prikazati u jednom slajdu slika*/
    width: 52%;
    margin-top: 50px;
    /*margin-left: 10px;*/
}

.slider-wrapper {
    position: relative;

}

.slider-wrapper .slide-button {
    position: absolute;
    top: 40%;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: grey;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}


/*SLIKE*/
.slider-wrapper .image-list {
    /*height: 325px;*/
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*gap: 15px;*/
    font-size: 0;
    list-style: none;
    /* kolok da bude odaljena linija da bi slatao*/
    margin-bottom: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    /*content: "";*/
    /*width: 52.73px;*/
    /*height: 2px;*/
    /*top: 304px;*/
    /*left: 524.47px;*/
    /*background: #BF0F0F;
    display: block;
    justify-content: right;*/
    position: relative;
    width: 250px;
    height: 400px;
    object-fit: cover;
}

/*za after i linije da se pokaze*/
.tekst-kartice::after {
    content: '';
    display: block;

    width: 52.73px;
    height: 2px;
    top: 500px;
    left: 524.47px;
    margin-top: 10px;
    background-color: #BF0F0F;
}

.tekst-kartice {

    position: absolute;
    top: 40%;
    /* Postavlja tekst na sredinu slike po vertikali */
    left: 50%;
    /* Postavlja tekst na sredinu slike po horizontali */
    transform: translate(-55%, 260%);
    /* Centrira tekst u odnosu na sredinu slike */
    color: #474747;

    /*padding: - 15px;*/
    width: 75%;
    /* Prilagodite širinu teksta prema potrebama */
    text-align: center;

    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

/*za after i linije da se pokaze*/
.tekst-karticeDuze::after {
    content: '';
    display: block;

    width: 52.73px;
    height: 2px;
    top: 500px;
    left: 524.47px;

    margin-top: 10px;
    margin-bottom: -10px;
    background-color: #BF0F0F;
}

.tekst-karticeDuze {

    position: absolute;
    top: 30%;
    /* Postavlja tekst na sredinu slike po vertikali */
    left: 40%;
    /* Postavlja tekst na sredinu slike po horizontali */
    transform: translate(-55%, 260%);
    /* Centrira tekst u odnosu na sredinu slike */
    color: #474747;

    /*padding: - 15px;*/
    width: 60%;
    /* Prilagodite širinu teksta prema potrebama */
    text-align: center;

    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;


}


/*SLIDER*/
.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


.tekstIProizvodi .logoKodProizvoda {
    align-content: left;
}